.MessageList-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.MessageList-user {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

.MessageList-content {
  margin: 0px 60px 0px 10px;
  div {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
