.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowWrap {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.flexEndCenterWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: wrap;
}
