*, html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
}

.hide {
  display: none;
}

.loading {
  background-color: rgba(0, 158, 212, .8);
  height: 3px;
  position: absolute;
  box-shadow: 0 0 10px #29D, 0 0 5px #29D;
  transition: all 200ms ease;
  z-index: 2000;
}

@import './common/index.scss';
@import './app/index.scss';
@import './block/index.scss';
@import './nav/index.scss';
@import './login/index.scss';
@import './signup/index.scss';
@import './notification/index.scss';
@import './mask/index.scss';
@import './home/index.scss';
@import './message/index.scss';
@import './comment/index.scss';
@import './profile/index.scss';
@import './shop/index.scss';
@import './cart/index.scss';
@import './calculator/index.scss';
@import './product/index.scss';
@import './gallery/index.scss';
@import './menu/index.scss';
@import './upload/index.scss';
@import './category/index.scss';
@import './learning/index.scss';
