.CommentForm-container {
  width: auto;
  display: flex;
  justify-content: center;
  height: 30vh;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.CommentForm-button {
  display: flex;
  justify-content: flex-end;
}
.CommentForm-general-errors {

}
