.App-container {
  // background-color: rgba(247, 247, 247, 0.8);
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-children {
  // @extend .clearfix;
}

.App-mask {
  display: block;
  position: fixed;
  background-color: black;
  opacity: .3;
  height: 100%;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
}
