.Cart-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  height: 100%;
  background-color: white;
}

.Cart-wrapper {
  display: flex;
  margin: 40px;
  width: 100%;
  flex-direction: row-reverse;
}

.Cart-order-holder {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
  margin-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  .Cart-order-title {
    font-weight: bold;
    margin: 10px 0px;
  }

}

.Cart-calculator {

}

.Cart-no-items {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width : 830px) {
  .Cart-wrapper {
    display: flex;
    flex-direction: column;
  }
  .Cart-calculator {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
