.LoginForm-container {
  margin: 0px auto 0px;
  height: calc(100vh - 50px);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginForm-error {
  margin-bottom: 40px;
  color: red;
}

.LoginForm-loginButton {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginForm-input {
  width: 300px;
  position: relative;
  .LoginForm-input-error {
    font-size: 12px;
    // position: absolute;
    // bottom: -2px;
    margin-left: 6px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .LoginForm-container {
    margin: 0px auto 0px;
  }
}
