.Product-container {
  margin: 10px;
  max-width: 210px;
}
.Product-addCard {
  width: 100%;
  text-align: right;
}

.Product-content {

}
.Product-name {
  font-weight: 500;
}
.Product-price {

}
.Product-desc {
}
