.VideoBackground-container {
  height: 100%;
  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    // background: url('./123.mp4') no-repeat;
    background-size: cover;
  }
}
