.Logo-container {
  z-index: 10001;
  position: fixed;
  top: 0;
  height: 50px;
  overflow: hidden;
  width: 120px;
  margin-left: 2%;
}

.Logo-holder {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
  top: 0px;
  z-index: 9999999;

  a {
    text-decoration: none;
    color: black;
  }
}

.Logo-holder-up {
  top: -43px;
}

.Logo-name {
  position: absolute;
  top: 4.4px;
}

.Logo-portfolio {
  position: absolute;
  top: 48px;
}
