.Profile-container {
  margin-top: 50px;
  @extend .flexCenter;
  height: calc(100vh - 50px);
}

@media only screen and (max-width: 500px) {
  .Profile-container {
    height: 100%;
    padding-bottom: 50px;
  }
}
