.ShopByDepartment-container {

  ol {
    padding-left: 36px;
    &:hover {
      cursor: pointer;
      user-select: none;
      a { text-decoration: none; }
    }
  }

}

.ShopByDepartment-category-button {
  background-color: white;
  color: $blue;

  &:hover {
    background-color: $blue;
    color: white;
  }
  margin-bottom: 2px;
}

@media only screen and (max-width: 700px) {
  .ShopByDepartment-container {
    div {
      &:first-child {
        font-size: 12px;
      }
    }
  }
}
